<div class="w-full grid grid-cols-12 place-items-center">
  <img 
    src={{ prepareImg picture}} alt={{title}}
    class="col-span-2 aspect-video bg-gray-100"
  />
  <div class="col-span-8">
    <h2>{{title}} {{model}}</h2>
    <p>{{brand}}</p>
    <div>
      <p>${{price}}</p>
      <p>Stock: {{stock}}</p>
    </div>
  </div>
  <div class="col-span-2">
    {{>btn type="button" label="Update" color="green"}}
    {{>btn type="button" label="Delete" color="red"}}
  </div>
</div>