<button
	type={{type}}
	class="text-white bg-{{color}}-700 transition hover:bg-{{color}}-800 focus:ring-4 focus:ring-{{color}}-300 rounded-lg text-md px-5 py-2 text-center mx-2"
>
	{{label}}
</button>